
export(update_dataMin_db)

export(add_adt_metadata_table)

export(initializeAWSStatus)
export(updateAWSStatus)

export(initializeAWSAggrPeriod)

export(get_aws_parameters)
export(get_aws_variables)
export(get_aws_dataVarObj)
